<nav class="flex w-full items-center justify-between flex-wrap bg-green-700 p-6">
  <a href="/" class="hover:animate-pulse">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img height="35px" width="35px" src="/static/logo.png">
    <h1 class="mx-2 fond-extrabold font-semibold text-3xl tracking-tight ">{{ app_name }}</h1>
    </div>
  </a>


  
    <div>
      {% if "user_id" in session %}
      <a href="/auth/logout" class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
      Logout</a>
      {% else %}
      <a href="/auth/login" class="inline-block text-lg px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
      Login</a>
      {% endif %}
      </a>
    </div>
  </div>
</nav>